@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<h1>message*AES key* AES iv</h1>
@ViewBag.encr
<br />
<br />
<br />
@ViewBag.decr
@*<br />
<h1> message avant cryptage :</h1>
<br />
@ViewBag.txt
<br />
*****
<br />
@ViewBag.key
<br />
*****
<br />
@ViewBag.iv
<br />
<h1>message crypter :</h1>
<br />
@ViewBag.messagecrypter
<br />
<h1>message decrypter :</h1>
<br />
@ViewBag.messagedecrypter*@